.flex {
    display: flex;
    align-items: center;

    &--space-between {
        justify-content: space-between;
    }

    &--column {
        flex-direction: column;
    }

    &--align-stretch {
        align-items: stretch;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}